#Configuration file for the table reading system
#reactionClass is comma separated list of desired classes.
#nxml_dir should be filled with .tar.gz files (with nxml in them)
user=Leidos
input_list=test.txt
output_file=output.txt
table_dir=tables
file_dir=files
paper_dir=papers
make_tables=true
simple_reaction=true
reaction_class=PostTranslationalModification
nxml=true
nxml_dir=nxml_files
resolve_file=PMC-files_list.tsv